
.player__row{
    display: flex;
    align-items: center;
    column-gap: 12px;
    min-height: 42px;
    position: relative;
}
.player__blocker{
    position: absolute;
    transition-duration: 0.7s;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    top: 0;
    left: 0;
}
.player__name {
    cursor: pointer;
}

.player__background{
    display: flex;
    width: 300px;
    column-gap: 5px;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px 30px;
    color: #fff;
    border-radius: 10px;
    position: relative;
}

.player__background-active{
    outline: 3px solid rgb(255, 174, 0);
    box-sizing: border-box;
}
.player__exposed{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    min-width: 42px;
    min-height: 42px;
}
.player__exposed-hidden{
    display: none;
}

.player__fouls{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.player__fouls button{
    background-color: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.player__speakbutton{
    cursor: pointer;
    min-height: 36px;
    color: #fff;
    background-color: transparent;
}

.player__role{
    display: flex;
}

.player__roleDropdown{
    display: flex;
    background-color: #fff;
    margin: 0;
    min-height: 36px;
    align-items: center;
    
}

.player__role .css-1869usk-MuiFormControl-root{
    margin: 0;
    display: flex;
    justify-content: center;
}

.player__roleOption{
    border: none;
    outline: none;
    align-items: center;
    padding: 0;
    width: 100%;
}

.player__roleOption .MuiOutlinedInput-notchedOutline, .MuiSelect-select{
    display: flex;
    border: none;
    align-items: center;
    width: 100%;
    
}
.player__roleOption .css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player__onVote{
    color: #fff;
}

.player__vote{
    top: 0;
    left: 0;
    opacity: 0.8;
    background-color: rgb(58, 184, 90);
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border: 3px dashed #fff;
}