.player__row{
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.player__name {
    cursor: pointer;
}

.player__background{
    display: flex;
    width: 300px;
    column-gap: 5px;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px 30px;
    color: #fff;
    border-radius: 10px;
}

.player__background-active{
    outline: 3px solid rgb(255, 174, 0);
    box-sizing: border-box;
}
.player__exposed{
    padding: 10px;
    color: #fff;
    min-width: 38px;
    min-height: 38px;
    text-align: center;
}
.player__exposed-hidden{
    display: none;
}

.player__fouls{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.player__fouls button{
    background-color: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.player__speakbutton{
    padding: 10px;
    color: #fff;
    background-color: rgb(43, 138, 227);
}

.player__role{
    display: flex;
}

.player__roleDropdown{
    display: flex;
    background-color: #fff;
    
    height: 30px;
    align-items: center;
    
}

.player__roleOption{
    border: none;
    outline: none;
    align-items: center;
    padding: 0;
    width: 100%;
}

.player__roleOption .MuiOutlinedInput-notchedOutline, .MuiSelect-select{
    display: flex;
    border: none;
    align-items: center;
    width: 100%;
    
}
.player__roleOption .css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player__onVote{
    color: #fff;
}